<div class="container d-flex justify-content-center">
  <div class="card mt-3">
    <div class="card-header">
      <h3>Actualizar contraseña</h3>
    </div>
    <div class="card-body">
      <form [formGroup]="cambiarPasswordForm" (ngSubmit)="onCambiarPassword()">
        <div class="form-group m-3">
          <label for="email">Nueva contraseña</label>
          <input
            type="password"
            name="password"
            class="form-control"
            [formControl]="password"
          />
          <span
            class="text-danger"
            *ngIf="
              cambiarPasswordForm.get('password').errors &&
              (cambiarPasswordForm.get('password').touched ||
                cambiarPasswordForm.get('password').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="password.invalid && password.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="password.invalid && password.errors.minlength"
              >Debe tener 8 caracteres como mínimo</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <label for="email">Confirme nueva contraseña</label>
          <input
            type="password"
            name="password"
            class="form-control"
            [formControl]="confirmPassword"
          />
          <span
            class="text-danger"
            *ngIf="
              cambiarPasswordForm.get('confirmPassword').errors &&
              (cambiarPasswordForm.get('confirmPassword').touched ||
                cambiarPasswordForm.get('confirmPassword').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="confirmPassword.invalid && confirmPassword.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="
                confirmPassword.invalid && confirmPassword.errors.minlength
              "
              >Debe tener 8 caracteres como mínimo</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <button
            class="btn btn-outline-success btn-block"
            [disabled]="!cambiarPasswordForm.valid"
            type="submit"
          >
            Actualizar contraseña
          </button>
        </div>
      </form>
      <div *ngIf="mensaje && error" class="alert alert-danger mt-3">
        {{ mensaje }}
      </div>
      <div *ngIf="mensaje && !error" class="alert alert-success mt-3">
        {{ mensaje }}
      </div>
    </div>
  </div>
</div>
