<div class="d-flex h-100vh align-items-center justify-content-center">
  <div class="card col-11 col-md-5 col-lg-5 col-xl-3 shadow-lg">
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <img src="assets/images/logo.png" alt="QCH" class="w-100" />
        </div>
      </div>
      <h4 class="text-center mt-3">Iniciar sesión</h4>
      <div *ngIf="mensaje" class="alert alert-danger" role="alert">
        {{ mensaje }}
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-user"></i>
              </div>
            </div>
            <input
              type="text"
              name="idUsuario"
              class="form-control"
              placeholder="Usuario o email"
              [formControl]="idUsuario"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              loginForm.get('idUsuario').errors &&
              (loginForm.get('idUsuario').touched ||
                loginForm.get('idUsuario').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="idUsuario.invalid && idUsuario.errors.required"
              >El nombre o email de usuario es obligatorio</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-key"></i>
              </div>
            </div>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Contraseña"
              [formControl]="password"
            />
          </div>

          <span
            class="text-danger"
            *ngIf="
              loginForm.get('password').errors &&
              (loginForm.get('password').touched ||
                loginForm.get('password').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="idUsuario.invalid && idUsuario.errors.required"
              >La contraseña es obligatoria</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <button
            class="btn btn-success btn-block w-100"
            [disabled]="!loginForm.valid"
            type="submit"
          >
            Iniciar Sesión
          </button>
          <button
            class="btn btn-secondary btn-block w-100 mt-1"
            routerLink="/email-password"
            type="button"
          >
            He olvidado la contraseña
          </button>
        </div>
        <div class="form-group m-3">
          <button
            class="btn btn-primary btn-block w-100 mt-1"
            routerLink="/registro"
            type="button"
          >
            Registrarse
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
