<div class="d-flex h-100vh align-items-center justify-content-center">
  <div class="card col-11 col-md-5 col-lg-5 col-xl-3 shadow-lg">
    <div class="card-body">
      <div class="row d-flex justify-content-center">
        <div class="col-3">
          <img src="assets/images/logo.png" alt="QCH" class="w-100" />
        </div>
      </div>
      <h4 class="text-center mt-3">Registro</h4>
      <div *ngIf="mensaje" class="alert alert-danger" role="alert">
        {{ mensaje }}
      </div>
      <form [formGroup]="registroForm" (ngSubmit)="onRegister()">
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-user"></i>
              </div>
            </div>
            <input
              type="text"
              name="idUsuario"
              class="form-control input-lg"
              placeholder="Id de usuario"
              [formControl]="idUsuario"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              registroForm.get('idUsuario').errors &&
              (registroForm.get('idUsuario').touched ||
                registroForm.get('idUsuario').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="idUsuario.invalid && idUsuario.errors.required"
              >El campo es obligatorio</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-address-card"></i>
              </div>
            </div>
            <input
              type="text"
              name="nombre"
              class="form-control"
              placeholder="Nombre"
              [formControl]="nombre"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              registroForm.get('nombre').errors &&
              (registroForm.get('nombre').touched ||
                registroForm.get('nombre').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="nombre.invalid && nombre.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="nombre.invalid && nombre.errors.pattern"
              >El campo tiene un caracter no permitido</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-address-card"></i>
              </div>
            </div>
            <input
              type="text"
              name="apellido1"
              class="form-control"
              placeholder="Primer apellido"
              [formControl]="apellido1"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              registroForm.get('apellido1').errors &&
              (registroForm.get('apellido1').touched ||
                registroForm.get('apellido1').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="apellido1.invalid && apellido1.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="apellido1.invalid && apellido1.errors.pattern"
              >El campo tiene un caracter no permitido</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-address-card"></i>
              </div>
            </div>
            <input
              type="text"
              name="apellido2"
              class="form-control"
              placeholder="Segundo apellido"
              [formControl]="apellido2"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              registroForm.get('apellido2').errors &&
              (registroForm.get('apellido2').touched ||
                registroForm.get('apellido2').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="apellido2.invalid && apellido2.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="apellido2.invalid && apellido2.errors.pattern"
              >El campo tiene un caracter no permitido</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-envelope"></i>
              </div>
            </div>
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="Correo electrónico"
              [formControl]="email"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              registroForm.get('email').errors &&
              (registroForm.get('email').touched ||
                registroForm.get('email').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="email.invalid && email.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="email.invalid && email.errors.pattern"
              >El email no es valido</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text h-100 rounded-left">
                <i class="fas fa-key"></i>
              </div>
            </div>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Contraseña"
              [formControl]="password"
            />
          </div>
          <span
            class="text-danger"
            *ngIf="
              registroForm.get('password').errors &&
              (registroForm.get('password').touched ||
                registroForm.get('password').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="password.invalid && password.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="password.invalid && password.errors.minlength"
              >La contraseña debe tener 8 caracteres como mínimo</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <button
            class="btn btn-success btn-block w-100"
            [disabled]="!registroForm.valid"
            type="submit"
          >
            Registrarse
          </button>
          <button
            class="btn btn-primary btn-block w-100 mt-1"
            routerLink="/login"
            type="button"
          >
            Iniciar sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
