<div class="container mt-5 p-5 p-sm-3">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">INGREDIENTES</h1>
    </div>
  </div>
  <div class="row mt-3">
    <form [formGroup]="filtroForm" (ngSubmit)="onFilter()">
      <div class="row">
        <div class="col-12 col-md-4">
          <input
            type="text"
            name="nombreIngrediente"
            class="form-control"
            placeholder="Nombre del ingrediente"
            [formControl]="nombreIngrediente"
            autocomplete="off"
            (input)="onFilter()"
          />
        </div>
        <div class="col-12 col-md-4 mt-1 mt-md-0">
          <select
            class="form-select"
            formControlName="grupo"
            (change)="onFilter()"
          >
            <option [value]="-1">-- Grupo de ingrediente --</option>
            <option *ngFor="let grupo of grupos" [value]="grupo.id">
              {{ grupo.nombre }}
            </option>
          </select>
        </div>
        <div class="col-12 col-md-4 mt-1 mt-md-0">
          <button
            type="button"
            class="btn btn-danger w-100"
            title="Restablecer"
            (click)="onReset()"
          >
            Restablecer
          </button>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="paginador" class="row mt-3">
    <div
      class="
        col-12 col-md-8 col-lg-9
        align-self-end
        order-2 order-md-1
        mt-3 mt-md-0
      "
    >
      <small
        >Mostrando del elemento {{ paginador.primerElemento }} al
        {{ paginador.ultimoElemento }} de {{ paginador.total }} totales</small
      >
    </div>
    <div class="col-12 col-md-4 col-lg-3 text-end order-1 order-md-2">
      <button
        type="button"
        class="btn btn-success w-100 w-md-auto"
        data-toggle="modal"
        data-target="#nuevoIngredienteModal"
        (click)="onSetForm()"
      >
        <i class="fas fa-plus"></i> Nuevo ingrediente
      </button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mt-3">
    <div *ngFor="let ingrediente of ingredientes" class="p-1">
      <div
        class="col card animate__animated animate__bounce animate__fadeIn h-100"
      >
        <div class="row g-0">
          <div class="col-10">
            <div class="card-body">
              <h5 class="card-title">{{ ingrediente.nombre }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                {{ ingrediente.grupo.nombre }}
              </h6>
              <p class="card-text">
                ({{ ingrediente.grupo.racionesSemana }} raciones/semana)
              </p>
            </div>
          </div>
          <div class="col-2">
            <div *ngIf="isAdmin()" class="card-body p-sm-1">
              <button
                type="button"
                class="btn text-primary p-0"
                data-toggle="modal"
                data-target="#nuevoIngredienteModal"
                title="Editar"
                (click)="onEditarIngrediente(ingrediente)"
              >
                <i class="fas fa-edit"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="paginador" class="row mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li [ngClass]="{ disabled: paginador.esPrimera }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onFilter(paginador.primeraPagina)"
          >
            <<
          </button>
        </li>
        <li [ngClass]="{ disabled: paginador.esPrimera }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onFilter(paginador.anteriorPagina)"
          >
            <
          </button>
        </li>
        <li
          *ngFor="let pagina of paginador.paginas"
          [ngClass]="{ active: pagina === paginador.paginaActual }"
          class="page-item"
        >
          <button class="page-link shadow-none" (click)="onFilter(pagina)">
            {{ pagina }}
          </button>
        </li>
        <li [ngClass]="{ disabled: paginador.esUltima }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onFilter(paginador.siguientePagina)"
          >
            >
          </button>
        </li>
        <li [ngClass]="{ disabled: paginador.esUltima }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onFilter(paginador.ultimaPagina)"
          >
            >>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="nuevoIngredienteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="nuevoIngredienteModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="nuevoIngredienteForm" (ngSubmit)="onSaveIngrediente()">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevoIngredienteModalLongTitle">
            Nuevo ingrediente
          </h5>
        </div>

        <div class="modal-body">
          <div
            *ngIf="errorIngrediente && mensajeIngrediente"
            class="alert alert-danger"
            role="alert"
          >
            {{ mensajeIngrediente }}
          </div>
          <div
            *ngIf="!errorIngrediente && mensajeIngrediente"
            class="alert alert-success"
            role="alert"
          >
            {{ mensajeIngrediente }}
          </div>

          <input type="hidden" name="idIng" [formControl]="idIng" />

          <div class="form-group m-3">
            <label for="idUsuario">Nombre</label>
            <input
              type="text"
              name="nombreIng"
              class="form-control input-lg"
              [formControl]="nombreIng"
            />
            <span
              class="text-danger"
              *ngIf="
                nuevoIngredienteForm.get('nombreIng').errors &&
                (nuevoIngredienteForm.get('nombreIng').touched ||
                  nuevoIngredienteForm.get('nombreIng').dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="nombreIng.invalid && nombreIng.errors.required"
                >El campo es obligatorio</span
              >
            </span>
          </div>
          <div class="form-group m-3">
            <label for="grupo">Grupo de alimentos</label>
            <select class="form-select" formControlName="idGrupoIng">
              <option [value]="null" disabled>Selecciona grupo...</option>
              <option *ngFor="let grupo of grupos" [value]="grupo.id">
                {{ grupo.nombre }}
              </option>
            </select>
            <span
              class="text-danger"
              *ngIf="
                nuevoIngredienteForm.get('idGrupoIng').errors &&
                (nuevoIngredienteForm.get('idGrupoIng').touched ||
                  nuevoIngredienteForm.get('idGrupoIng').dirty)
              "
            >
              <span
                class="text-danger"
                *ngIf="idGrupoIng.invalid && idGrupoIng.errors.required"
                >El campo es obligatorio</span
              >
            </span>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancelar
          </button>
          <button
            class="btn btn-success"
            [disabled]="!nuevoIngredienteForm.valid"
            type="submit"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
