/* CUSTOM STYLES */
.portada {
  height: 60vh;
  background-image: url("/assets/images/portada.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.h-100vh{
  height: 100vh;
}

.bg-principal{
  background-color: #c0a58d;
}

.rounded-left{
  border-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.center-cropped {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed-bottom-right {
  position: fixed;
  right: 3em;
  bottom: 3em;
  z-index: 1030;
  width: 3em;
  height: 3em;
}

.z-index-top {
  z-index: 99;
}
