<div class="container mt-5 p-5 p-sm-3">
  <h1 class="text-center">HISTORICO DE RECETAS CONSUMIDAS</h1>
  <div class="row">
    <div *ngIf="mensajeEliminado && !error" class="alert mt-3 alert-success">
      {{ mensajeEliminado }}
    </div>
  </div>

  <div *ngIf="paginador" class="row mt-3">
    <small
      >Mostrando del elemento {{ paginador.primerElemento }} al
      {{ paginador.ultimoElemento }} de {{ paginador.total }} totales</small
    >
  </div>
  <div
    *ngIf="recetas && likes"
    class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3"
  >
    <div *ngFor="let receta of recetas" class="p-1">
      <div
        class="col card animate__animated animate__bounce animate__fadeIn h-100"
      >
        <a
          [routerLink]="['/receta', receta.id]"
          class="center-cropped"
          [style]="
            'background-image: url(' +
            BACK_URL_IMAGES +
            receta.imagen +
            '), url(' +
            BACK_URL_IMAGES +
            'default.jpg)'
          "
        ></a>
        <div class="card-body">
          <h5 class="card-title">
            <a [routerLink]="['/receta', receta.id]">{{ receta.titulo }}</a>
          </h5>
          <div class="row">
            <div class="col-6">
              <small class="text-muted">{{ receta.usuario.id }}</small>
            </div>
            <div class="col-6 text-end">
              <small class="badge bg-secondary">{{
                receta.tipoReceta.nombre
              }}</small>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row text-center">
            <div class="col-4" title="Minutos de elaboración">
              <i class="far fa-clock"></i>
              {{ receta.tiempo }}
            </div>
            <div class="col-4" title="Comensales">
              <i class="fas fa-male"></i> {{ receta.comensales }}
            </div>
            <div class="col-4">
              <i
                *ngIf="receta.dificultad === 'DIFICIL'"
                class="text-danger fas fa-thermometer-three-quarters"
                title="Dificultad: alta"
              ></i>
              <i
                *ngIf="receta.dificultad === 'MEDIO'"
                title="Dificultad: media"
                class="text-warning fas fa-thermometer-half"
              ></i>
              <i
                *ngIf="receta.dificultad === 'FACIL'"
                class="text-success fas fa-thermometer-quarter"
                title="Dificultad: baja"
              ></i>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <a
            type="button"
            class="btn text-primary"
            data-toggle="modal"
            data-target="#editarHistoricoModal"
            (click)="onSetForm(receta.id, receta.fechaConsumicion)"
          >
            <i class="fas fa-edit"></i>
          </a>
          <small>{{
            getFechaConsumicion(receta.id, receta.fechaConsumicion)
          }}</small>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="paginador" class="row mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li [ngClass]="{ disabled: paginador.esPrimera }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onNavigate(paginador.primeraPagina)"
          >
            <<
          </button>
        </li>
        <li [ngClass]="{ disabled: paginador.esPrimera }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onNavigate(paginador.anteriorPagina)"
          >
            <
          </button>
        </li>
        <li
          *ngFor="let pagina of paginador.paginas"
          [ngClass]="{ active: pagina === paginador.paginaActual }"
          class="page-item"
        >
          <button class="page-link shadow-none" (click)="onNavigate(pagina)">
            {{ pagina }}
          </button>
        </li>
        <li [ngClass]="{ disabled: paginador.esUltima }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onNavigate(paginador.siguientePagina)"
          >
            >
          </button>
        </li>
        <li [ngClass]="{ disabled: paginador.esUltima }" class="page-item">
          <button
            class="page-link shadow-none"
            (click)="onNavigate(paginador.ultimaPagina)"
          >
            >>
          </button>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="editarHistoricoModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editarHistoricoModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form [formGroup]="editarHistoricoForm" (ngSubmit)="onSaveHistorico()">
        <div class="modal-header">
          <h5 class="modal-title" id="editarHistoricoModalLongTitle">
            Editar historico
          </h5>
        </div>

        <div class="modal-body">
          <div
            *ngIf="mensajeEliminado && error"
            class="alert mt-3 alert-danger"
          >
            {{ mensajeEliminado }}
          </div>
          <div
            *ngIf="mensaje"
            class="alert mt-3"
            [ngClass]="error ? 'alert-danger' : 'alert-success'"
          >
            {{ mensaje }}
          </div>
          <input type="hidden" name="idReceta" [formControl]="idReceta" />
          <input type="hidden" name="fecha" [formControl]="fecha" />

          <div class="form-group m-3">
            <input
              type="datetime-local"
              name="nuevaFecha"
              class="form-control text-center"
              placeholder="Fecha de consumición"
              [formControl]="nuevaFecha"
            />
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-warning"
            data-dismiss="modal"
            (click)="onDeleteHistorico()"
          >
            Eliminar
          </button>
          <button
            class="btn btn-success"
            [disabled]="!editarHistoricoForm.valid"
            type="submit"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
