<div class="container d-flex justify-content-center">
  <div class="card mt-3">
    <div class="card-header">
      <h3>He olvidado la contraseña</h3>
    </div>
    <div class="card-body">
      <form
        [formGroup]="emailPasswordForm"
        (ngSubmit)="onEnviarEmailPassword()"
      >
        <div class="form-group m-3">
          <label for="email">Correo electrónico</label>
          <input
            type="text"
            name="email"
            class="form-control"
            [formControl]="email"
          />
          <span
            class="text-danger"
            *ngIf="
              emailPasswordForm.get('email').errors &&
              (emailPasswordForm.get('email').touched ||
                emailPasswordForm.get('email').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="email.invalid && email.errors.required"
              >El campo es obligatorio</span
            >
            <span
              class="text-danger"
              *ngIf="email.invalid && email.errors.pattern"
              >El email no es valido</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <button
            class="btn btn-outline-success btn-block"
            [disabled]="!emailPasswordForm.valid"
            type="submit"
          >
            Enviar correo
          </button>
        </div>
      </form>
      <div *ngIf="mensaje && error" class="alert alert-danger mt-3">
        {{ mensaje }}
      </div>
      <div *ngIf="mensaje && !error" class="alert alert-success mt-3">
        {{ mensaje }}
      </div>
    </div>
  </div>
</div>
