<div class="container">
  <div class="card mt-3 col-md-5 mx-auto">
    <div class="card-header text-center">
      <h3>Nuevo ingrediente</h3>
    </div>
    <div class="card-body">
      <div *ngIf="error && mensaje" class="alert alert-danger" role="alert">
        {{ mensaje }}
      </div>
      <div *ngIf="!error && mensaje" class="alert alert-success" role="alert">
        {{ mensaje }}
      </div>
      <form [formGroup]="nuevoIngredienteForm" (ngSubmit)="onSaveIngrediente()">
        <div class="form-group m-3">
          <label for="idUsuario">Nombre</label>
          <input
            type="text"
            name="nombre"
            class="form-control input-lg"
            [formControl]="nombre"
          />
          <span
            class="text-danger"
            *ngIf="
              nuevoIngredienteForm.get('nombre').errors &&
              (nuevoIngredienteForm.get('nombre').touched ||
                nuevoIngredienteForm.get('nombre').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="nombre.invalid && nombre.errors.required"
              >El campo es obligatorio</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <label for="grupo">Grupo de alimentos</label>
          <select class="form-select" formControlName="idGrupo">
            <option [value]="null" disabled>Selecciona grupo...</option>
            <option *ngFor="let grupo of grupos" [value]="grupo.id">
              {{ grupo.nombre }}
            </option>
          </select>
          <span
            class="text-danger"
            *ngIf="
              nuevoIngredienteForm.get('idGrupo').errors &&
              (nuevoIngredienteForm.get('idGrupo').touched ||
                nuevoIngredienteForm.get('idGrupo').dirty)
            "
          >
            <span
              class="text-danger"
              *ngIf="idGrupo.invalid && idGrupo.errors.required"
              >El campo es obligatorio</span
            >
          </span>
        </div>
        <div class="form-group m-3">
          <button
            class="btn btn-success btn-block w-100"
            [disabled]="!nuevoIngredienteForm.valid"
            type="submit"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
